form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

span {
    font-weight: bold;
    font-size: large;
}

.timer-actions {
    margin-top: 25px;
}

button {
    margin-right: 10px;
}